.wrap {
  height: 100%;
}
.scroll {
  overflow: auto;
}
.link_list {
  display: flex;
  align-items: center;
}
.link_list li {
  margin-left: 20px;
}
.link_list li:first-child {
  margin: 0;
}
.state_btn {
  border: none;
  padding: 0;
  width: 25px;
}
.state_btn img {
  width: 100%;
}

/* new */
.social-icons .icons-section {
  display: flex;
  height: 50px;
  position: relative;
  align-items: stretch;
  flex: 0 0 auto;
  /* padding-bottom: 4px; */
}
.social-icons .icons-section .icons-button,
.profile_add .state_btn {
  background-position: 0px 0px;
  cursor: pointer;
  display: flex;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  border: 0;
  background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box
    border-box;
}
.social-icons .icons-section .icons-button span,
.profile_add .state_btn span {
  color: rgba(0, 0, 0, 0.847);
  cursor: pointer;
  display: block;
  height: 24px;
  min-height: auto;
  min-width: auto;
  text-align: center;
  width: 24px;
  background: rgba(0, 0, 0, 0)
    url("https://www.instagram.com/static/bundles/es6/sprite_glyphs_9813fcc3aa16.png/9813fcc3aa16.png")
    no-repeat scroll -231px -130px / auto padding-box border-box;
}
.profile_add .state_btn .icon-dots {
  background-position: -466px -337px;
}
.social-icons .icons-section .icons-button span.icon1 {
  background-position: -466px -25px;
}
.social-icons .icons-section .icons-button span.liked {
  background-position: -466px -0px;
}
.social-icons .icons-section .icons-button span.icon2 {
  background-position: -440px -390px;
}
.social-icons .icons-section .icons-button span.icon4 {
  background-position: -180px -460px;
}
.social-icons .icons-section .icons-button span.saved {
  background-position: -102px -460px;
}
.social-icons .icons-section .icons-button span.post-detail {
  background-position: -390px -459px;
}
.social-icons .icons-section .icons-button:last-child {
  margin-left: auto;
}

/* Header Right Icon */
.header-social-icons {
  margin-top: 7px;
}
.social-icons .icons-section .icons-button span.home {
  background-position: -466px -77px;
}
.social-icons .icons-section .icons-button span.icon5 {
  background-position: -466px -363px;
}
.social-icons .icons-section .icons-button span.icon6 {
  background-position: -466px -25px;
}
.social-icons .icons-section .icons-button span.icon7 {
  background-position: -415.2px -457px;
  background-color: #cecece;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.feed_profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 3px 15px 15px;
}
.profile {
  display: flex;
  align-items: center;
}
.profile .profile_img {
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
}
.follow_info {
  margin-bottom: 10px;
  padding: 10px 13px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  background: #fff;
}
.follow_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.follow_title span {
  font-size: 13px;
  line-height: 1.4;
}
.follow_title .text_tit {
  font-size: 15px;
  color: #828282;
}
.follow_title .sub_tit {
  font-weight: bold;
}
.follow_title a {
  display: block;
}
.follow_title a .profile_intro {
  font-size: 14px;
}
.feed_profile.follow_list_wrap {
  padding: 0;
}
.follow_list {
  display: block;
  width: 100%;
  max-height: 175px;
}
.follow_list li {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
