.events-control {
  text-align: center;
  border: 1px solid #5101d1;
  padding: 1rem;
  margin: 2rem auto;
  width: 30rem;
  max-width: 80%;
}

.events__list {
  width: 40rem;
  max-width: 90%;
  margin: 2rem auto;
  list-style: none;
  padding: 0;
}

.events__list-item {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #5101d1;
}

.post-detail {
  margin-left: 34%;
}

.social-header {
  position: relative;
  display: flex;
  text-size-adjust: 100%;
  width: 100%;
  align-items: center;
  align-self: center;
  flex: 0 0 auto;
  flex-flow: row nowrap;
  padding: 8px;
}
.social-header .social-profile-img {
  height: 34px;
  left: 0px;
  position: relative;
  width: 34px;
  border: 0px none #003569;
  border-radius: 50% 50% 50% 50%;
  flex: 0 0 auto;
  outline: #003569 none 0px;
  overflow: hidden;
  margin: 0 18px 0 0;
}
.social-header .social-profile-img img {
  cursor: pointer;
  height: 34px;
  width: 34px;
  border: 0px none #003569;
  outline: #003569 none 0px;
}
.social-header .social-follow {
  display: flex;
  height: 18px;
  position: relative;
  width: 100%;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  overflow: hidden;
}
.social-header .social-follow button {
  border: 0;
  color: #3897f0;
  display: inline;
  padding: 0;
  font-weight: 600;
}
.social-header .social-follow .SPAN_13 {
  margin: 0px 4px;
}
.social-header .social-name {
  color: #262626;
  text-decoration: none solid #262626;
  text-size-adjust: 100%;
  font-weight: 550;
  margin: 0px 0px 0px -5px;
  outline: #262626 none 0px;
  overflow: hidden;
  padding: 0px 0px 0px 5px;
}
