.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 55px;
  background: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid #dbdbdb;
}
.header .header_wrap {
  height: 100%;
  max-width: 1066px;
  margin: 0 auto;
}
.header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header .inner .logo {
  display: flex;
  margin-top: 5px;
}
.header .inner .logo span {
  display: inline-block;
  text-indent: -9999px;
}
.header .inner .logo a {
  display: block;
}
.header .inner .logo a img {
  width: 100px;
}
.header .inner .input_box {
  width: 200px;
  height: 30px;
}
.header .inner .input_box input {
  height: 100%;
  width: 100%;
  padding: 0 32px;
  box-sizing: border-box;
  background: #f1f3f5;
  border: 1px solid #ced4da;
  font-size: 16px;
  outline: none;
}
.header .inner .input_box input#search {
  background: url("./img/pngwing.com.png") no-repeat;
  background-position: 65px;
  background-size: 14px;
}
.header .inner .input_box input#search:focus {
  background-position: 10px;
}
.header .inner .input_box input::placeholder {
  text-align: center;
  font-size: 15px;
}
.header .inner .input_box input:focus::-webkit-input-placeholder {
  color: transparent;
}
.header .inner .nav {
}
.header .inner .nav .link_list li a {
  display: block;
}

.header .inner .nav .link_list li a i {
  color: #000;
  font-size: 20px;
}

.select-box {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial",
    sans-serif;
  font-size: 13px;
  color: #60666d;
}
@media (min-width: 768px) {
  .select-box {
    width: 70px;
  }
}
@media (min-width: 992px) {
  .select-box {
    width: 100px;
  }
}
@media (min-width: 1200px) {
  .select-box {
    width: 100px;
  }
}
.select-box__current {
  position: relative;
  cursor: pointer;
  outline: none;
}
.select-box__current:focus + .select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
  animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__value {
  display: flex;
}
.select-box__input {
  display: none;
}
.select-box__input:checked + .select-box__input-text {
  display: block;
}
.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 15px;
}
.select-box__list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  -webkit-animation-name: HideList;
  animation-name: HideList;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
  animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.select-box__option {
  display: block;
  padding: 15px;
  background-color: #fff;
}
.select-box__option:hover,
.select-box__option:focus {
  color: #546c84;
  background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
